<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Add Movies</title>
  </head>
  <body>
    <h1>Add a movie</h1>
    <form method="POST">
      <input type="text" name='movieName' placeholder="Enter Movie Name"/>
      <input type="text" name='movieYear' placeholder="Enter Movie Year"/>
      <input type="text" name='movieGenre' placeholder="Enter Movie Genre"/>
      <input type="text" name='movieDescription' placeholder="Enter Movie Description"/>
      <input type='text' name='movieImgURL' placeholder="Enter Movie Image URL"/>
      <input type="submit" />
    </form>

  </body>
</html>
